body {
    background-color: lightcoral;
}

h1 {
    font-size: 65px;
}

h1, h2 {
    padding: 15px;
    text-align: center;
    color: white;
    font-family: 'Raleway', sans-serif;
}

h2 {
    font-size: 25px;
}

img {
    display: block;
    padding: 10px;
    align-items: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
}
